@model WebUI.ViewModels.OrderLineViewModel

<div class="shopping-cart-product-container">
    <div class="product-image" style="background-image: url(https://homepages.cae.wisc.edu/~ece533/images/zelda.png); background-repeat: no-repeat"></div>
    <div class="product-name-remove">
        <div class="product-name">
            <b>@Html.DisplayFor(model => model.Product.ProductName)</b>
        </div>
        <div class="delete-product">
            <img src="~/Content/img/TrashIcon.svg" runat="server" style="height: 3rem; width: 3rem;" onclick='removeFromCart(@Model.Product.ProductId)'/>
        </div>
    </div>
    <div class="product-quantity-price">
        <div class="quantity">
            Quantity: &nbsp &nbsp
            <input type="number" autocomplete="off" min="0" style="height: 2rem; width: 4rem; " value="@Model.Quantity" onchange="updateQuantity(@Model.Product.ProductId, this.value)"/>
        </div>
        <div class="price">
            @String.Format("{0:0.00} DKK", @Model.Product.ProductPrice)
        </div>
    </div>
</div>
