@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{ViewBag.Title = "PickUpApp";}
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Bundle/sass")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <script>
        function redirectToHomePage() {
            window.location.href = '/';
        }
        function redirectToShoppingCart() {
            window.location.href = '/ShoppingCart';
        }
        function redirectToRegister() {
            window.location.href = '/Account';
        }

        function redirectToProfilePage() {
            window.location.href = '/Account/Edit';
        }

        function searchProduct() {
            window.location.href = '/Product/Search?query=' + document.querySelector('#searchTerm').value.toLowerCase();
        }
    </script>
    <main class="main-container">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>
    <header class="header" id="header">
        <div class="header-fixed">
            <div class="header-container">
                <div class="logo-container" onclick="redirectToHomePage()">
                    <a class="logo" href="#">
                        Pick-Up App
                    </a>
                </div>
                <div class="searchBar-container">
                    <div class="searchBar-box">
                        <input type="text" class="searchTerm" id="searchTerm" placeholder="Search e.g. Milk">
                        <button type="submit" class="searchButton" onclick="searchProduct()">
                            <i class="fa fa-search">GO</i>
                        </button>
                    </div>
                </div>
                <div class="cartContainer" onclick="redirectToShoppingCart()">
                    <div class="cartIcon">
                        <img src="~/Content/img/CartIcon.svg" runat="server" style="height: 3rem; width: 3rem;" />
                        <div class="cartPrice">
                            @if (Session["Cart"] is null)
                            {
                            <p>0 DKK</p>
                            }
                            else
                            {
                                var cart = (WebUI.ViewModels.OrderViewModel)Session["Cart"];
                                double cartTotal = 0;
                                foreach (var item in cart.OrderLineList)
                                {
                                    cartTotal += item.Product.ProductPrice * item.Quantity;
                                }
                                <p>@cartTotal DKK</p>
                            }
                        </div>
                    </div>
                </div>
                <div class="user-profile-container">
                    @if (Session["TokenInfo"] is null)
                    {
                        <div class="user-profile-box" onclick="LogInWindowOnClick()">
                            <div class="user-icon">
                                <img src="~/Content/img/UserIcon.svg" runat="server" style="height: 3rem; width: 3rem;" />
                            </div>
                            <div class="login-text">
                                LOG IN
                            </div>
                        </div>
                    }
                    else
                    {
                        var token = (WebUI.ViewModels.Token)Session["TokenInfo"];
                        <div class="user-profile-box" onclick="redirectToProfilePage()">
                            <div class="user-icon">
                                <img src="~/Content/img/UserIcon.svg" runat="server" style="height: 3rem; width: 3rem;" />
                            </div>
                            <div class="user-name">
                                Hello, <br />
                                @token.UserName
                            </div>
                        </div>
                    }

                    <div class="login loginDisable" id="login-id">
                        <div class="arrow-up"></div>
                        <div class="formholder">
                            <div class="randompad">
                                <form action="~/Account/Login" method="post">
                                    @Html.AntiForgeryToken()
                                    <label for="fname">Email:</label>
                                    <input type="email" id="Email" name="Email" required>
                                    <label for="lname">Password:</label>
                                    <input type="password" id="Password" name="Password" required>
                                    <input type="submit" value="Log In">
                                </form>
                                <label id="register" name="register" onclick="redirectToRegister()">Register</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <script>
        function LogInWindowOnClick() {
            if (document.querySelector('#login-id').classList.length == 2) {
                document.querySelector('#login-id').classList.remove("loginDisable");
            }
            else {
                document.querySelector('#login-id').classList.add("loginDisable");
            }
        }
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
