@model WebUI.ViewModels.ProductViewModel

@*<div>
        <h4>Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.price)
            </dd>

        </dl>
    </div>*@

@*String.Format("data:image/png;base64,{0}", Model.image*@
<div class="item-photo-container" style="background-image: url('@Model.ImageUrl'); background-repeat: no-repeat">
    <div class="seeProduct-btn">
        See Product

    </div>

    <div class="addToCart-btn" onclick='addToCart(@Model.ProductId, "@Model.ProductPrice", "@Model.ProductName", "@Model.ImageUrl")'>
        Add to Cart
    </div>

</div>